@use './reset';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --bg-base1: #e6e1de;
    --bg-base2: #faf7f5;
    --bg-active1: #e5e5e5;
    --bg-active2: #4b94f8;
    --text-color1: #333;
    --text-color2: #fff;
    --text-color-hover: #4b94f8;
    --text-color-active: #fff;
  }

  .dark {
    --bg-base1: #22282c;
    --bg-base2: #22282c;
    --bg-active1: #5977cb;
    --bg-active2: #5977cb;
    --text-color1: #e4e4e7;
    --text-color2: #e4e4e7;
    --text-color-hover: #5977cb;
    --text-color-active: #e4e4e7;
  }
}

.el-input__wrapper.is-focus,
.el-input__wrapper:hover,
.el-input__wrapper {
  box-shadow: none !important;
}

.el-input__wrapper {
  background-color: transparent !important;
}

.el-input__inner {
  height: 36px !important;
}

.el-input-group__append {
  position: relative;
  right: 10px;
  background-color: transparent !important;
  box-shadow: none !important;
}

.el-select__wrapper {
  background-color: transparent !important;
}

.el-select__wrapper.is-focused {
  box-shadow: none !important;
}

.el-select__popper.el-popper,
.el-popper.is-light > .el-popper__arrow::before {
  background: #e6e1de !important;
}

.el-select-dropdown__item.is-selected {
  color: var(--el-text-color-regular) !important;
}

.el-select-dropdown__item.is-hovering {
  background-color: var(--el-color-info-light-8) !important;
}

.el-popper {
  padding: 0.3125rem 0.75rem !important;
  line-height: 0.875rem !important;
}

// 配置css
.summarize-container {
  @apply w-full grid grid-cols-2 grid-rows-[repeat(3,120px)] gap-4 mr-2;
}

.summarize-section {
  @apply h-[120px] bg-[#faf7f5] dark:bg-[#22282c] p-6 rounded-md overflow-hidden;
}

.summarize-label {
  @apply text-sm font-bold;
}

.summarize-input-wrapper {
  @apply relative w-full flex items-center justify-between gap-4 mt-5;
}

.summarize-input-wrapper .el-input__wrapper {
  @apply relative;
}

.summarize-input {
  @apply max-w-[70%] bg-[#e6e1de] rounded-md;
}

.summarize-button {
  @apply rounded-md;
}

// 快捷键设置
.summarize-input-wrapper .el-input__suffix {
  position: absolute;
  left: 10px;
}

.summarize-input-wrapper .el-input__suffix .label {
  display: flex;
  font-size: 14px;
  font-weight: normal;
  color: #999;
  pointer-events: none;
}

.summarize-input-wrapper .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.summarize-input-wrapper
  .el-input__inner:focus
  + .el-input__suffix
  label
  .label-char,
.summarize-input-wrapper
  .el-input__inner:valid
  + .el-input__suffix
  label
  .label-char {
  font-size: 14px;
  transform: translateY(-20px);
}

.summarize-input-wrapper .el-input__inner:valid + .el-input__suffix .button {
  display: block;
}

.button {
  position: absolute;
  right: 6px;
  z-index: 1;
}
