@use './reset';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --categories-content-bg: #e6e1de;
    --categories-panel-bg: #faf7f5;
    --categories-panel-bg-hover: #4b94f8;
    --categories-bg-active: #e5e5e5;
    --categories-text-color: #303133;
    --categories-text-color-active: #303133;
    --categories-info-text-color: #909399;
    --categories-border-color: #dcdfe6;
  }

  .light {
    --categories-content-bg: #e6e1de;
    --categories-panel-bg: #faf7f5;
    --categories-panel-bg-hover: #4b94f8;
    --categories-bg-active: #e5e5e5;
    --categories-text-color: #303133;
    --categories-text-color-active: #303133;
    --categories-info-text-color: #909399;
    --categories-border-color: #dcdfe6;
  }

  .dark {
    --categories-panel-bg: #262727;
    --categories-content-bg: #303133;
    --categories-panel-bg-hover: #409eff1a;
    --categories-bg-active: #409eff1a;
    --categories-text-color: #cfd3dc;
    --categories-text-color-active: #409eff;
    --categories-info-text-color: #a3a6ad;
    --categories-border-color: #43444e;
  }
}

.el-input__wrapper.is-focus,
.el-input__wrapper:hover,
.el-input__wrapper {
  box-shadow: none !important;
}

.el-input__wrapper {
  background-color: transparent !important;
}

// .el-input-group__append {
//   position: relative;
//   right: 10px;
//   background-color: transparent !important;
//   box-shadow: none !important;
// }

.el-input-group__append {
  @apply absolute -right-1 z-10 !bg-transparent !shadow-none;

  .summarize-button {
    @apply rounded-md !bg-neutral-200 dark:!bg-neutral-800;
  }

  .button-shortcut {
    @apply h-6 leading-6 px-2;
  }
}

.el-select__wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

.el-select__wrapper.is-focused {
  box-shadow: none !important;
}

// .el-select__popper.el-popper,
// .el-popper.is-light > .el-popper__arrow::before {
//   background: var(--categories-content-bg) !important;
// }

// .el-select-dropdown__item.is-selected {
//   color: var(--categories-text-color-active) !important;
// }

// .el-select-dropdown__item.is-hovering {
//   background-color: var(--categories-panel-bg) !important;
// }

// .el-popper {
//   padding: 0.3125rem 0.75rem !important;
//   line-height: 0.875rem !important;
// }

// 配置css
.summarize-container {
  @apply w-full h-full overflow-hidden grid grid-cols-2 grid-rows-[repeat(3,120px)] gap-4;
}

.summarize-section {
  @apply h-[120px] bg-panel p-6 rounded-md overflow-hidden;
}

.summarize-label {
  @apply text-sm font-bold text-content;
}

.summarize-input-wrapper {
  @apply relative w-full flex items-center justify-between gap-4 mt-5;
}

.summarize-input-wrapper .el-input__wrapper {
  @apply relative;
}

.summarize-input {
  @apply max-w-[70%] bg-content rounded-md;
}

.summarize-button {
  @apply rounded-md;
}

// 快捷键设置
.summarize-input-wrapper .el-input__suffix {
  position: absolute;
  left: 10px;
}

.summarize-input-wrapper .el-input__suffix .label {
  display: flex;
  font-size: 14px;
  font-weight: normal;
  color: var(--categories-text-color);
  pointer-events: none;
}

.summarize-input-wrapper .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.summarize-input-wrapper
  .el-input__inner:focus
  + .el-input__suffix
  label
  .label-char,
.summarize-input-wrapper
  .el-input__inner:valid
  + .el-input__suffix
  label
  .label-char {
  font-size: 14px;
  transform: translateY(-20px);
}

.summarize-input-wrapper
  .el-input__inner:valid
  + .el-input__suffix
  .summarize-button {
  display: block;
}

.category-management {
  @apply border rounded-md dark:border-panel !w-[300px];
}
