@use './reset';

@tailwind base;
@tailwind components;
@tailwind utilities;


// 自定义message
.el-message {
  --el-message-padding: 10px 15px !important;

  border-radius: 6px !important;

  .el-message__content {
    @apply text-xs !text-panel;
  }
}

.transparent-input .el-input__wrapper.is-focus,
.transparent-input .el-input__wrapper:hover,
.transparent-input .el-input__wrapper {
  box-shadow: none !important;
}

.transparent-input .el-input__wrapper {
  background-color: transparent !important;
}

.transparent-input .el-textarea__inner {
  box-shadow: none !important;
}

.transparent-input .el-button:hover {
  color: #fff !important;
  background-color: var(--el-color-primary) !important;
}

.transparent-input .el-input-group__append {
  @apply absolute -right-1 z-10 !bg-transparent !shadow-none;

  .summarize-button {
    @apply rounded-md !bg-neutral-200 dark:!bg-neutral-800;
  }

  .button-shortcut {
    @apply h-6 leading-6 px-2;
  }
}

.transparent-input .el-select__wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

.transparent-input .el-select__wrapper.is-focused {
  box-shadow: none !important;
}

// 配置css
.summarize-container {
  @apply flex-1 w-full h-full overflow-hidden;
}

.summarize-section {
  @apply flex justify-between items-center mt-5 first:!mt-1 border-b border-panel;
}

.summarize-label {
  @apply flex flex-col gap-1 mb-1 text-sm font-bold text-content;

  .summarize-label-title {
    @apply text-sm text-panel font-medium;
  }

  .summarize-label-desc {
    @apply flex text-xs text-content font-thin;
  }
}

.summarize-input-wrapper {
  @apply relative flex items-center justify-end gap-4;

  .summarize-input {
    @apply w-56;
  }
}

.summarize-input-wrapper .el-input__wrapper {
  @apply relative;
}

.summarize-input {
  @apply bg-content rounded-md;
}

.summarize-button {
  @apply rounded-md;
}

// 快捷键设置
.summarize-input-wrapper .el-input__suffix {
  position: absolute;
  left: 10px;
}

.summarize-input-wrapper .el-input__suffix .label {
  display: flex;
  font-size: 14px;
  font-weight: normal;
  color: var(--categories-text-color);
  pointer-events: none;
}

.summarize-input-wrapper .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.summarize-input-wrapper
  .el-input__inner:focus
  + .el-input__suffix
  label
  .label-char,
.summarize-input-wrapper
  .el-input__inner:valid
  + .el-input__suffix
  label
  .label-char {
  font-size: 14px;
  transform: translateY(-20px);
}

.summarize-input-wrapper
  .el-input__inner:valid
  + .el-input__suffix
  .summarize-button {
  display: block;
}

.category-management {
  @apply border rounded-md dark:border-panel !w-[300px];
}

// 分类修改
.el-message-box__container {
  @apply w-full !inline-block px-4;
}

.message-footer {
  @apply flex justify-end gap-2 mt-2;
}
